@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "YekanBakh700";
  src: url("../_fonts/YekanBakh-Heavy.eot");
  src: url("../_fonts/YekanBakh-Heavy.eot?#iefix") format("embedded-opentype"),
    url("../_fonts/YekanBakh-Heavy.woff") format("woff"),
    url("../_fonts/YekanBakh-Heavy.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "YekanBakh700";
  src: url("../_fonts/YekanBakh-Heavy.eot");
  src: url("../_fonts/YekanBakh-Heavy.eot?#iefix")
      format("embedded-opentype"),
    url("../_fonts/YekanBakh-Heavy.woff") format("woff"),
    url("../_fonts/YekanBakh-Heavy.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakh400";
  src: url("../_fonts/YekanBakh-Regular.eot");
  src: url("../_fonts/YekanBakh-Regular.eot?#iefix")
      format("embedded-opentype"),
}
@font-face{font-family: "YekanBakh400";
  src: url("../_fonts/YekanBakh-Regular.eot");
  src: url("../_fonts/YekanBakh-Regular.eot?#iefix") format("embedded-opentype"),
    url("../_fonts/YekanBakh-Regular.woff") format("woff"),
    url("../_fonts/YekanBakh-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSansWeb300";
  src: url("../../_fonts/IRANSansWeb(FaNum)_Light.eot");
  src: url("../../_fonts/IRANSansWeb(FaNum)_Light.eot?#iefix")
      format("embedded-opentype"),
    url("../../_fonts/IRANSansWeb(FaNum)_Light.woff") format("woff"),
    url("../../_fonts/IRANSansWeb(FaNum)_Light.woff2") format("woff2"),
    url("../../_fonts/IRANSansWeb(FaNum)_Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSansWeb400";
  src: url("../../_fonts/IRANSansWeb(FaNum)_Medium.eot");
  src: url("../../_fonts/IRANSansWeb(FaNum)_Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../../_fonts/IRANSansWeb(FaNum)_Medium.woff") format("woff"),
    url("../../_fonts/IRANSansWeb(FaNum)_Light.woff2") format("woff2"),
    url("../../_fonts/IRANSansWeb(FaNum)_Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSansWeb500";
  src: url("../../_fonts/IRANSansWeb(FaNum)_Medium.eot");
  src: url("../../_fonts/IRANSansWeb(FaNum)_Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../../_fonts/IRANSansWeb(FaNum)_Medium.woff") format("woff"),
    url("../../_fonts/IRANSansWeb(FaNum)_Light.woff2") format("woff2"),
    url("../../_fonts/IRANSansWeb(FaNum)_Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: "IRANSansWeb700";
  font-family: "IRANSansWeb(FaNum)700";
  src: url("../../_fonts/IRANSansWeb(FaNum)_Bold.eot");
  src: url("../../_fonts/IRANSansWeb(FaNum)_Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../../_fonts/IRANSansWeb(FaNum)_Bold.woff") format("woff"),
    url("../../_fonts/IRANSansWeb(FaNum)_Bold.woff2") format("woff2"),
    url("../../_fonts/IRANSansWeb(FaNum)_Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
    font-family: "IRANSansWeb(FaNum)700";
    src: url("../../_fonts/IRANSansWeb(FaNum)_Bold.eot");
    src: url("../../_fonts/IRANSansWeb(FaNum)_Bold.eot?#iefix")
        format("embedded-opentype"),
      url("../../_fonts/IRANSansWeb(FaNum)_Bold.woff") format("woff"),
      url("../../_fonts/IRANSansWeb(FaNum)_Bold.woff2") format("woff2"),
      url("../../_fonts/IRANSansWeb(FaNum)_Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  .faNum{
    font-family: "IRANSansWeb300";
}
h1,h3,h2,h4,h5,h6{
  margin: 0;
  padding: 0;
}
a,ul,li{
  text-decoration: none;
  list-style: none;
}
  *{
    font-family: "YekanBakh400";
    direction: rtl;
  }


  h1,

* {
  font-family: "YekanBakh400";
  direction: rtl;
}

h1,
h2 {
  font-size: 24px;
  line-height: 23px;
  text-align: right;
  font-family: "YekanBakh700";
}
h3,
h4,
h5,
h6 {
  font-family: "YekanBakh400";
  font-size: 16px;
  line-height: 25.04px;
  text-align: right;
}

a {
  font-family: "YekanBakh400";
  font-size: 14px;
  line-height: 21.91px;
  text-decoration: none;
}

header .toggle-inner.openMenu .Toggle:nth-child(1){
  transform-origin: 12px 6px;
  transform: rotate(-51deg);
}
header .toggle-inner.openMenu .Toggle:nth-child(2){
  transform:translateX(100%);
  -webkit-transform:translateX(100%);
  -moz-transform:translateX(100%);
  -ms-transform:translateX(100%);
  -o-transform:translateX(100%);
  opacity: 0;
}
header .toggle-inner.openMenu .Toggle:nth-child(3){
  transform-origin: 16px -6px;
  transform: rotate(51deg);
  -webkit-transform: rotate(51deg);
  -moz-transform: rotate(51deg);
  -ms-transform: rotate(51deg);
  -o-transform: rotate(51deg);
}
main.Home-Mobile .Section-1 .swiper-pagination{
  width: 88%;
  position: absolute;
  bottom: 0;
  top: unset;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: flex-start;
  align-items: center;
  gap: 1.8em;
  margin-bottom: 2em;

  }
  main.Home-Mobile .Section-1 .swiper-pagination-bullet{
     width: 100%;
     margin: 0;
     height: auto;
     background-color: transparent;
     border-radius:0 ;
     -webkit-border-radius:0 ;
     -moz-border-radius:0 ;
     -ms-border-radius:0 ;
     -o-border-radius:0 ;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: flex-start;
     opacity: 1;
     gap: 1.2em;
  }
  main.Home-Mobile .Section-1 .swiper-pagination-bullet .text{
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #F6F6F6;
  }
  main.Home-Mobile .Section-1 .swiper-pagination-bullet .line{
    width: 100%;
    height: 2px;
    background-color: #D9D9D9;
    position: relative;
  }
  main.Home-Mobile .Section-1 .swiper-pagination-bullet .line::before{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: #E33026;
    transition: all 3s ease;
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -ms-transition: all 3s ease;
    -o-transition: all 3s ease;
  }
  main.Home-Mobile .Section-1 .swiper-pagination-bullet-active .line::before{
     animation:width 3s ;
     -webkit-animation:width 3s ;
     animation-fill-mode: forwards;
     animation-direction: alternate;
  }
  @keyframes width {
    0%{
      width: 0%;
    }
    100%{
      width: 100%;
    }
  }
  img.parallax-3{
    transform: translate(-15%,10%);
    -webkit-transform: translate(-15%,10%);
    -moz-transform: translate(-15%,10%);
    -ms-transform: translate(-15%,10%);
    -o-transform: translate(-15%,10%);
  }
  .Home-Mobile .Section-3::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #1C1C1C80;
  }
  main.Home-Mobile .ProjectsGrid .Text p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }
 
  ::-webkit-scrollbar-track ,
  #scrollContainer::-webkit-scrollbar-track,
  .Top-DropDowns::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }
  
  ::-webkit-scrollbar ,
  #scrollContainer::-webkit-scrollbar ,
  .Top-DropDowns::-webkit-scrollbar{
    width: 5px;
    background-color: #F5F5F5;
  }
  
  ::-webkit-scrollbar-thumb,
  #scrollContainer::-webkit-scrollbar-thumb,
  .Top-DropDowns::-webkit-scrollbar-thumb{
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
  }
  
  main.ProductShow-Mobile .swiper-button-prev,
  main.ProductShow-Mobile .swiper-button-next,
 main.Home-Mobile .Procats .swiper-button-next,
 main.Home-Mobile .Procats .swiper-button-prev,
 main.Home-Mobile .Section-4 .swiper-button-next,
 main.Home-Mobile .Section-4 .swiper-button-prev{
  position: static;
  margin: 0;
  height: auto;
  
  }
  main.ProductShow-Mobile .swiper-button-prev::before,
  main.ProductShow-Mobile .swiper-button-prev::after,
  main.ProductShow-Mobile .swiper-button-next::before,
  main.ProductShow-Mobile .swiper-button-next::after,
  .Procats .swiper-button-next::before,
  .Procats .swiper-button-prev::before,
  .Procats .swiper-button-next::after,
  .Procats .swiper-button-prev::after,
  main.Home-Mobile .Section-4 .swiper-button-next::before,
  main.Home-Mobile .Section-4 .swiper-button-next::after,
  main.Home-Mobile .Section-4 .swiper-button-prev::before,
  main.Home-Mobile .Section-4 .swiper-button-prev::after{
  content: '';
  }
  main.ProductShow-Mobile .swiper-button-prev svg,
  main.ProductShow-Mobile .swiper-button-next svg,
  main.Home-Mobile .Procats .swiper-button-prev svg,
  main.Home-Mobile .Procats .swiper-button-next svg,
  main.Home-Mobile .Section-4 .swiper-button-prev svg,
  main.Home-Mobile .Section-4 .swiper-button-next svg{
    width: auto;
    height: auto;
  }
  main.ProductShow-Mobile .swiper-pagination,
  main.Home-Mobile .Procats .swiper-pagination,
  main.Home-Mobile .Section-4 .swiper-pagination{
    width: auto;
    margin: 0 .3em;
    display: flex;
    gap: .5em;
    position: static;
  }
  main.ProductShow-Mobile .swiper-pagination .swiper-pagination-bullet,
  .Procats .swiper-pagination .swiper-pagination-bullet{
  background-color: #888888 !important;
  opacity: 1 !important;
  width: 12px;
  height: 12px;
  }
  main.ProductShow-Mobile .swiper-pagination .swiper-pagination-bullet-active,
  .Procats .swiper-pagination .swiper-pagination-bullet-active{
    background-color: #E33026 !important;
  }
  #inputHeader{
    width: 100%;
    background: #F6F6F6;
    border: none;
    outline: none;
    color:#888888;
    font-style: 14px;
    font-weight: 400;
    line-height: 24px;
    height: 100%;
  }
  .Search-popup input[type='text']::placeholder{
    color:#888888;
    font-style: 14px;
    font-weight: 400;
    line-height: 24px;
  }
  
  .SearchContainer::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 0;
    background-color: #888888;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  
  .SearchContainer::-webkit-scrollbar {
    width: 10px;
    background-color: #888888;
  }
  
  
  .SearchContainer::-webkit-scrollbar-thumb{
    border-radius: 0;
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
    background-color: #454545;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
 .Top-DropDowns a.header-font{
font-size: 20px;
font-weight: 700;
line-height: 35px;
color: #454545;
  }
  .Procats .swiper-slide-active .ProCat{
height: 130%;
  }
  main.Home-Mobile .Section-4 .swiper-slide-active p{
    opacity: 1;
    transform: unset;
    -webkit-transform: unset;
    -moz-transform: unset;
    -ms-transform: unset;
    -o-transform: unset;
  }
.articleShow .commentP .nameInput::after,
.articleShow .commentP .emailInput::after,
.articleShow .commentP .msgInput::after {
  content: "*";
  position: absolute;
  top: 13px;
  color: #f00;
}
.articleShow .commentP .nameInput::after{
right: 124px;
}
.articleShow .commentP .emailInput::after{
  right: 53px;
}

.articleShow .commentP .msgInput::after{
  right: 83px;
  top: 16px;
}
.articleShow .commentP input::placeholder,
.articleShow .commentP textarea::placeholder {
  color: #5d5d5d;
  font-family: "YekanBakh400";
  font-size: 16px;
  line-height: 28px;
  text-align: right;
}
.articleShow .commentP input,
.articleShow .commentP textarea {
  background-color: transparent;
  direction: rtl;
  position: relative;
}


.viewPagination .swiper-pagination-bullet{
  width: 12px;
  height: 12px;
  opacity: 1;
  background: #888888;
  transition: 0.5s ease;
}


.viewPagination .swiper-pagination-bullet-active{
  background-color: #E33026;
}


.loaded {
  visibility: hidden;
  opacity: 0;
  height: 0;
  width: 0;
  display: none;
}


.project .projectGalleryBox:nth-child(3) ~ .projectGalleryBox {
  display: none;
}
.aboutUs .projectGalleryBox:nth-child(3) ~ .projectGalleryBox {
  display: none;
}